:root {
    --dot-color: #{$secondary};
    --dot-color-inactive: #{$dark};
    --gameboard-text: #{$grey-light};
}

html,
body {
    height: 100%;
    background-color: $dark;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
}